{% extends 'base.html.twig' %}

{% block title %}MongoDB - Stwórz dane{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-12 py-4">
                <h1>{{ dbType }}</h1>
            </div>

            <div class="col-12 py-4">
                <strong>Czas trwania insercji rekordów: {{ executionTime }}s</strong>
            </div>

            <div class="col-12 py-4">
                <strong>Dla {{ recordCount }} rekordów</strong>
            </div>
        </div>
    </div>
{% endblock %}