{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-3 py-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
